<section class="projects-section" style="background-image: url(''); background-size: cover; background-position: center;">
  <div class="container">
<!--    <div class="carousel-container">
      <div class="carousel-slide">
        <img src="/assets/images/irregation_1.jpg" alt="Irrigation">
      </div>
      <div class="carousel-slide">
        <img src="/assets/images/solar_battery.jpg" alt="Solar Battery">
      </div>
      <div class="carousel-slide">
        <img src="/assets/images/solar_panel.jpg" alt="Solar Panel">
      </div>
      <div class="carousel-slide">
        <img src="/assets/images/solar_water_pump.jpg" alt="Solar Water Pump">
      </div>
    </div>
  -->
    <h2>Our Projects</h2>
    <div class="projects-grid">
      <div class="project-card">
        <img src="/assets/images/solarschool.jpg"alt="Off-grid solar systems for schools">
        <div class="project-card-content">
          <h3>Off-grid solar systems for schools</h3>
          <p>21 units installed</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/assets/images/irregation_1.jpg" alt="Solar irrigation pumps">
        <div class="project-card-content">
          <h3>Solar irrigation pumps</h3>
          <p>450 units installed</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/assets/images/solar_panel.jpg" alt="Small industry solar systems">
        <div class="project-card-content">
          <h3>Small industry solar systems</h3>
          <p>2 units installed</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/assets/images/solar_panel.jpg" alt="Hybrid systems">
        <div class="project-card-content">
          <h3>Hybrid systems</h3>
          <p>1 unit installed</p>
        </div>
      </div>
      <div class="project-card">
        <img src="/assets/images/ongridsolar.png" alt="On-grid systems">
        <div class="project-card-content">
          <h3>On-grid systems</h3>
          <p>3 units installed</p>
        </div>
      </div>
    </div>
  </div>
</section>
