<!--<mat-toolbar color="primary">
  <div class="nav-header">
    <span class="title">Natural Resource Management</span>
  </div>
  <div class="nav-buttons">
  <a mat-raised-button color="warn" routerLink="/home">Home</a>
  <a mat-raised-button color="warn" routerLink="/about">About</a>
  <a mat-raised-button color="warn" routerLink="/solutions">Solutions</a>
  <a mat-raised-button color="warn" routerLink="/design-tool">Design Tool</a>
  <a mat-raised-button color="warn" routerLink="/case-studies">Case Studies</a>
  <a mat-raised-button color="warn" routerLink="/contact">Contact</a>
  </div>
</mat-toolbar> -->