<section class="clients-section">
  <div class="container">
    <h2>Our Esteemed Clients</h2>
    <div class="client-category">
      <h3>Institutional Clients</h3>
      <div class="client-logos">
        <div class="client-logo">
          <img src="/assets/images/CiniCell-01.jpg" alt="CINI (TATA TRUST)">
          <p>CINI (TATA TRUST)</p>
        </div>
        <div class="client-logo">
          <img src="/assets/images/Pradan-logo.png" alt="PRADAN">
          <p>PRADAN</p>
        </div>
        <div class="client-logo">
          <img src="/assets/images/pedo.jpg" alt="PEDO">
          <p>PEDO</p>
        </div>

      </div>
    </div>
    <div class="client-category">
      <h3>Commercial Clients</h3>
      <div class="client-logos">
        <div class="client-logo">
          <img src="/assets/images/oberoi.jpg" alt="Oberoi Hotels">
          <p>Oberoi Hotels</p>
        </div>
        <div class="client-logo">
          <img src="/assets/images/silvergroup.jpg" alt="Silver Groups">
          <p>Silver Groups</p>
        </div>
        <div class="client-logo">
          <img src="/assets/images/pyrotech.png" alt="Pyrotech">
          <p>Pyrotech</p>
        </div>

      </div>
    </div>
  </div>
</section>
